body {
    background-image: url(/Pages/Shared/vit-ch-Oxb84ENcFfU-unsplash.jpg);
    .text-box

{
    border: 1px solid black;
    position: relative;
    padding: 10px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: none;
    cursor: pointer;
}
}
