@page
@model IndexModel
@{
    ViewData["Title"] = "Big Mamma Pizzaria";
}
<div class="text-center">
    <h1 class="display-4">Welcome to Big Mamma Pizzaria!</h1>
</div>
<style>
    .backimg {
        background-image:url(/images/vit-ch-Oxb84ENcFfU-unsplash.jpg) !important;
        width: 70%;
        height: 70%
    }
</style>
<body>
<div align="center" style="height:720px">
<div class="backimg"></div>
</div>
</body>