@page
@model IndexModel
@{
    ViewData["Title"] = "Big Mamma Pizzaria";
}

<div class="container">

    <img src="" class="img-fluid" alt="pizza" width="304" height="236")">
    <img src="c:\users\mini_\source\repos\bigmammapizzagroup\images\img.png" with="304" height="234"/>
</div>
<div>
    <img src="BigMammaPizzaGroup\images\img.png" class="img-fluid" alt="pizza" width="304" height="236" )">
</div>
<picture>
    <img url="()"
</picture>