@page
@using BigMammaPizzaGroup.Model;
@model BurgerMenuModel

@{
    ViewData["Title"] = "Burger";
}

<h1 class="jumbotron">Burger Menu</h1>

<table class="table-hover">
    <thead>
        <tr>
            <th>Navn</th>
            <th>Buntype</th>
            <th>Beskrivelse</th>
            <th>pris</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Burger b in Model.BurgerMenukort)
        {
            <tr>
                <td>@b.Name</td>
                <td>@b.Bun</td>
                <td>@b.GetToppings()</td>
                <td>@b.Price Kr.</td>
            </tr>
        }
    </tbody>
</table>
<p>That was it</p>