@page
@model BigMammaPizzaGroup.Pages.DashBoard.ControlPanelModel
@{
}

<div class="w-25 p-3" style="background-color: #eee;">
    <table class="table">
        <thead>
            <tr>
                <th>Kontrol Panel</th>
            </tr>
        </thead>
        <form method="post">
        <tbody>
           @*  <tr>
                <td>
                    <input type="submit" value="Tilføj ny pizza" class="btn btn-secondary" asp-page-handler="AddNewPizza">
                </td>


            </tr> *@
            <tr>
                <td><input type="submit" value="Administrer pizzaer" class="btn btn-primary" asp-page-handler="ChangePizza"></td>
            </tr>
            @* <tr>
                <td><input type="submit" value="slet en eksisterende pizza" class="btn btn-secondary" asp-page-handler="DeletePizza"></td>
            </tr> *@
        </tbody>
        </form>
    </table>
</div> 