@page
@model BigMammaPizzaGroup.Pages.DashBoard.ControlPanelModel
@{
}

<div class="w-25 p-3" style="background-color: #eee;">
    <table class="table">
        <thead>
            <tr>
                <th>Kontrol Panel</th>
            </tr>
        </thead>
        <form method="post">
        <tbody>
           
            <tr>
                <td><input type="submit" value="Administrer pizzaer" class="btn btn-primary" asp-page-handler="ChangePizza"></td>
                
            </tr>
            <tr>
        <td><input type="submit" value="Administrer Burger" class="btn btn-primary" asp-page-handler="ChangeBurger"></td>
            </tr>
            <tr>
        <td><input type="submit" value="Administrer Drinks" class="btn btn-primary" asp-page-handler="ChangeDrink"></td>
            </tr>
            
        </tbody>
        </form>
    </table>
</div> 