@page
@using BigMammaPizzaGroup.Model;
@model BigMammaPizzaGroup.Pages.Menukort.PizzaMenuModel
@{
    
    ViewData["Title"] = "Pizza Menu";
}

<h1 class="jumbotron">Pizza Menu med Pizza p</h1>

<form method="post">
Sorter efter
<input type="submit" value="nummer" asp-page-handler="Nummer" />
<input type="submit" value="pris" asp-page-handler="Pris" />
</form>
<table class="table-hover">
    <thead>
        <tr>
            <th>Nummer</th>
            <th>Navn</th>
            <th>Beskrivelse</th>
            <th>pris</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (Items p in Model.AllItems)
        {   
            <tr>
                <td>@p.Number</td>
                <td>@p.Name</td>


                <td>@if(p is Pizza)
                    { Pizza pizza = p as Pizza;
                        pizza.GetToppings();
                    }
                    </td>
                <td>@p.Price Kr.</td>
                <td><button type="button" value="Tilføj til kurv" class="btn btn-secondary">+</button></td>
            </tr>
        }
    </tbody>
</table>


<p>That was it</p>
